blinker==1.9.0
click==8.1.8
colorama==0.4.6
comtypes==1.4.10
ffmpeg-python==0.2.0
Flask==2.3.2
flask-cors==5.0.1
future==1.0.0
git-filter-repo==2.47.0
humanize==4.2.3
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.2
numpy==1.26.4
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
Pillow==10.0.0
python-magic==0.4.27
pywin32==302
Werkzeug==3.1.3